.form-section {
  margin-bottom: 103px;
  .form-section__title {
    @include subtitle;
  }

  .form-section__content {
    @include description;
  }
  .form {
    background: #f5f5f7;
    border-radius: 20px;
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 96px;
    padding-bottom: 96px;
    max-width: 842px;

    .form__title {
      font-weight: 700;
      font-size: 36px;
      line-height: 40px;
      color: #1d1d1f;
      margin-top: 0;
      margin-bottom: 47px;
    }

    .form__label {
      display: block;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #1d1d1f;
      margin-bottom: 10px;

      &.form__label--name {
        margin-bottom: 11px;
      }
    }

    .form__input {
      @include input;

      &.form__input--name {
        width: 100%;
        margin-bottom: 37px;
      }

      &.form__input--price {
        /* padding-bottom: 14px;*/
        text-align: center;
      }

      &.form__input--square {
        width: 112px;
        border-radius: 0;
        border-left: none;
        border-right: 0;
        text-align: center;
      }

      &.form__input--comfort {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        padding-top: 16px;
        padding-bottom: 17px;
        padding-left: 11px;
      }

      &.form__input-wishes {
        margin-bottom: 16px;
      }
    }

    .form__input-wrap {
      position: relative;

      &.error {
        .form__input--mail,
        .form__input--phone {
          border-color: #dc3545;
        }

        &:after {
          background-image: url(../images/x-close.png);
        }
      }

      &.correctly {
        .form__input--mail {
          border-color: #e1e1e1;
        }
        &:after {
          background-image: url(../images/check.png);
        }
      }

      &.form__input-wrap--price {
        margin-right: 31px;
      }

      &.form__input-wrap--square {
        margin-right: 32px;
        .form__input-inner {
          display: flex;
          .form__label {
            margin-bottom: 10px;
          }
        }
      }

      &.form__input-wrap--trim {
        width: 125px;

        .form__label {
          margin-bottom: 28px;
        }
      }

      &.form__input-wrap--mail {
        width: 397px;
        &:after {
          @include input-check;
        }
      }

      &.form__input-wrap--phone {
        margin-right: 31px;
        &:after {
          @include input-check;
        }
      }

      &.form__input-wrap--file {
        width: 100%;
        margin-bottom: 38px;
        progress {
          height: 4px;
          background: #0066cc;
          border-radius: 50%;
        }
        progress::-webkit-progress-bar {
          // background-color: #E1E1E1;
          background: #0066cc;
          height: 4px;
          border-radius: 2px;
        }

        progress::-webkit-progress-value {
          background: #0066cc;
          height: 4px;
          border-radius: 50%;
        }

        progress::-moz-progress-bar {
          background-color: #e1e1e1;
        }

        .files-list .files-list__item {
          position: relative;
          display: flex;
          justify-content: space-between;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #58585d;
          padding-left: 24px;
          & + .files-list__item {
            margin-top: 8px;
          }

          .files-list__remove {
            width: 16px;
            height: 16px;
            background-image: url(../images/x-blue.png);
            background-position: center center;
            background-repeat: no-repeat;
            position: absolute;
            left: 0;
            top: 2px;
            cursor: pointer;
          }
        }
      }

      &.form__input-wrap--comfort {
        width: 309px;
      }

      &.form__input-wrap--password {
        width: 309px;

        .password-control {
          position: absolute;
          bottom: 20px;
          right: 16px;
          width: 24px;
          height: 24px;
          background-image: url("../images/gray-eye.png");
          background-repeat: no-repeat;
          background-position: center center;

          &.view {
            background-image: url("../images/black-eye.png");
          }
        }
      }

      &.form__input-wrap--wishes {
        margin-bottom: 48px;
      }
    }

    .form__tagwishes {
      display: inline-block;
      background-color: #58585d;
      border-radius: 50px;
      padding-top: 7px;
      padding-right: 37px;
      padding-bottom: 9px;
      padding-left: 16px;
      color: #ffffff;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      margin-right: 7px;
      position: relative;
      margin-bottom: 10px;

      .form__tagwishes-delete {
        display: inline-block;
        width: 16px;
        height: 16px;
        background-image: url(../images/x-white.png);
        background-position: center center;
        margin-left: 4px;
        position: absolute;
        top: 7px;
        right: 16px;
        cursor: pointer;
      }
    }

    .form__input-btn {
      background: #ffffff;
      border: 1px solid #e1e1e1;
      width: 56px;
      height: 56px;
      color: #0066cc;
      position: relative;
      cursor: pointer;
      &:before {
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        background-repeat: no-repeat;
        background-position: center;
      }

      &.form__input-btn--minus {
        border-radius: 4px 0px 0px 4px;
        &:before {
          background-image: url(../images/minus.png);
        }

        &:hover {
          background-color: #0066cc;
          &:before {
            background-image: url(../images/minus_white.png);
          }
        }
      }

      &.form__input-btn--plus {
        border-radius: 0px 4px 4px 0px;
        &:before {
          background-image: url(../images/plus.png);
        }

        &:hover {
          background-color: #0066cc;
          &:before {
            background-image: url(../images/plus_white.png);
          }
        }
      }
    }

    .form__flex-container {
      display: flex;
      margin-bottom: 59px;

      &.form__flex-container--phone {
        margin-bottom: 38px;
      }

      &.form__flex-container--comf-pass {
        justify-content: space-between;
        margin-bottom: 37px;
      }
    }

    .select2-container--default .select2-selection--single {
      @include input;
      height: auto;
    }

    .select2-container--open .select2-selection--single {
      border-radius: 4px 4px 0px 0px;
    }
  }

  .form__button {
    background: #0066cc;
    border-radius: 4px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    font-family: "Gilroy";
    padding: 15px 28px 17px;
  }
}

.select2-dropdown {
  border: 1px solid #e1e1e1;
  border-radius: 0px 0px 4px 4px;
}

.select2-results__option {
  padding: 16px 16px 15px 16px;
  & + .select2-results__option {
    border-top: 1px solid #e1e1e1;
  }
}

.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #ffffff;
  color: #0066cc;
}

.select2-container--default .select2-results__option--selected {
  background-color: #ffffff;
}

.select2-results {
  max-height: 275px;
}

.select2-dropdown .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #0066cc;
  width: 4px;
}

.mCSB_scrollTools .mCSB_dragger {
  border-top: 7px solid #ffffff;
}

.mCSB_scrollTools .mCSB_draggerContainer {
  padding-bottom: 14px;
}

.select2-dropdown .mCSB_scrollTools {
  width: 13px;
}

.mCSB_inside > .mCSB_container {
  margin-right: 13px;
}

.mCSB_scrollTools .mCSB_draggerRail {
  display: none;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  width: 24px;
  height: 24px;
  top: 16px;
  right: 16px;
  background-image: url(../images/bottom-arrow.png);
  background-repeat: no-repeat;
  background-position: center center;
  transition: transform 0.2s linear;
}

.select2-container--open .select2-selection--single .select2-selection__arrow {
  transform: rotate(180deg);
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  display: none;
}

.form__range-container {
  box-sizing: border-box;
  outline: none;
  .ui-slider .ui-slider-handle,
  .form__range b {
    position: absolute;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #58585d;
    cursor: pointer;
    top: 14px;
    z-index: 2;
  }
  .ui-slider {
    position: relative;
    height: 3px;
    top: -2px;

    .ui-slider-handle {
      z-index: 3;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #0066cc;
      box-shadow: none;
      top: -7px;
      margin-left: -8px;
      &:focus-visible {
        outline: none;
      }
    }

    .ui-slider-range {
      position: absolute;
      z-index: 1;
      height: 3px;
      display: block;
      border: 0;
      background: #337ab7;
    }
  }

  .ui-slider-horizontal {
    .ui-slider-range-min {
      left: 0;
    }

    .ui-slider-range-max {
      right: 0;
    }
  }

  .form__range b:last-of-type {
    margin-left: -12px;
  }
}

.form__checkbox-label .form__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}
.form__checkbox-text {
  position: relative;
  padding: 0 0 0 54px;
  cursor: pointer;
}
.form__checkbox-text:before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 44px;
  height: 24px;
  border-radius: 13px;
  background: #cdd1da;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}
.form__checkbox-text:after {
  content: "";
  position: absolute;
  top: -1px;
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}
.form__checkbox-label .form__checkbox:checked + .form__checkbox-text:before {
  background: #0066cc;
}
.form__checkbox-label .form__checkbox:checked + .form__checkbox-text:after {
  left: 22px;
}

.form__input--file {
  display: none;
}
.form__file-label {
  width: 100%;
  border: 2px dashed #b9b1b1;
  border-radius: 4px;
  display: block;
  padding: 30px;
  cursor: pointer;
  text-align: center;
  .form__file-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #58585d;
  }
}

@media (max-width: 1024px) {
  .form-section {
    margin-bottom: 54px;
    .form-section__title {
      @include subtitle-tablet;
    }

    .form-section__content {
      @include description-tablet;
    }

    .form {
      padding: 40px;
      .form__title {
        font-size: 34px;
        line-height: 40px;
        margin-bottom: 46px;
      }
    }
  }
}

@media (max-width: 768px) {
  .form-section {
    .form {
      margin-bottom: 54px;
      .form__flex-container {
        display: block;
        margin-bottom: 22px;
      }
      .form__input-wrap.form__input-wrap--price {
        margin-right: 0;
        max-width: 211px;
        margin-bottom: 46px;
      }
      .form__input.form__input--square {
        width: 169px;
        margin-bottom: 0;
      }
      .form__input-wrap.form__input-wrap--square {
        margin-right: 0;
      }

      .form__input-wrap.form__input-wrap--trim {
        width: 280px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;

        .form__label {
          margin-bottom: 0;
        }
      }

      .form__input-wrap.form__input-wrap--phone {
        margin-right: 0;
        margin-bottom: 22px;
      }

      .form__flex-container.form__flex-container--phone,
      .form__input-wrap.form__input-wrap--file,
      .form__input-wrap,
      .form__input-wrap.form__input-wrap--mail {
        margin-bottom: 22px;
      }

      .form__input-wrap.form__input-wrap--comfort,
      .form__input-wrap.form__input-wrap--password,
      .form__input-wrap.form__input-wrap--mail {
        max-width: 100%;
      }

      .form__flex-container.form__flex-container--comf-pass {
        margin-bottom: 0;
      }

      .form__input-wrap.form__input-wrap--wishes {
        margin-bottom: 32px;
      }
      .form__input-wrap.form__input-wrap--file progress {
        display: none;
      }
      .form__button {
        margin-right: auto;
        margin-left: auto;
        display: block;
      }
    }
  }
}

@media (max-width: 576px) {
  .form-section {
    .form-section__title {
      @include subtitle-mobile;
    }

    .form-section__content {
      @include description-mobile;
    }

    .form {
      .form__title {
        font-size: 32px;
        line-height: 40px;
      }
    }

    .form__file-label {
      padding: 20px;
    }
  }
}
