.gallery-section {
  margin-bottom: 104px;
  .gallery-section__subtitle {
    @include subtitle;
  }

  .gallery-section__content {
    @include description;
    margin-bottom: 67px;
  }
}

.tabs {
  .tabs__caption {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    margin-bottom: 27px;

    .tabs__item {
      background: #f2f4f7;
      border-radius: 10px;
      font-weight: 500;
      font-size: 16px;
      line-height: 32px;
      color: #333333;
      padding: 4px 16px;
      margin: 4px;
      cursor: pointer;

      &.active {
        background: #0066cc;
        color: #ffffff;
      }
    }
  }
  .tabs__content {
    // display: none; /* по умолчанию прячем все блоки */
    max-width: 1816px;
    margin-left: auto;
    margin-right: auto;
    height: 0;
    overflow: hidden;

    .slick-initialized .slick-slide {
      // max-width: 430px;
    }

    .tabs__image {
      padding: 9px 12px;
      max-width: 454px;
    }
  }
  .tabs__content.active {
    //display: block; /* по умолчанию показываем нужный блок */
    height: auto;
    overflow: visible;
  }

  .slick-dots li button {
    background: #e6e6e6;
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }

  .slick-dots li.slick-active button {
    background-color: #0066cc;
  }

  .slick-dots li button:before {
    display: none;
  }

  .slick-dots li {
    width: 16px;
    height: 16px;
    margin: 0 8px;
  }

  .slick-track {
    margin-bottom: 22px;
  }

  .slick-next,
  .slick-prev {
    width: 80px;
    height: 80px;
    background-color: #ffffff;
    z-index: 1;
    border-radius: 50%;
    top: calc(50% - 11px);
    opacity: 0;
    transition: opacity 0.2s linear;
  }

  .slick-next:before,
  .slick-prev:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 1;
  }

  .slick-prev {
    left: 109px;
    &::before {
      background-image: url(../images/left_arrow.png);
      background-repeat: no-repeat;
      background-position: center center;
    }
    &:hover {
      background-color: #0066cc;
      &:before {
        background-image: url(../images/left_arrow-white.png);
      }
    }
  }

  .slick-next {
    right: 109px;

    &::before {
      background-image: url(../images/right_arrow.png);
      background-repeat: no-repeat;
      background-position: center center;
    }
    &:hover {
      background-color: #0066cc;
      &:before {
        background-image: url(../images/right-arrow-white.png);
      }
    }
  }

  .slick-slider:hover .slick-arrow {
    opacity: 1;
  }

  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }
}

@media (max-width: 1024px) {
  .gallery-section {
    .gallery-section__subtitle {
      @include subtitle-tablet;
    }

    .gallery-section__content {
      @include description-tablet;
    }
  }
  .tabs .slick-dots li button {
    width: 14px;
    height: 14px;
  }
}

@media (max-width: 768px) {
  .tabs .tabs__caption {
    overflow-x: scroll;
  }
  .tabs .slick-slider .slick-arrow {
    display: none !important;
  }
}

@media (max-width: 576px) {
  .gallery-section {
    .gallery-section__subtitle {
      @include subtitle-mobile;
    }

    .gallery-section__content {
      @include description-mobile;
    }
  }
  .tabs .slick-dots li button {
    width: 12px;
    height: 12px;
  }
  .tabs .slick-dots li {
    margin: 0 6px;
  }
}
